html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f8f9fa;
  scroll-behavior: smooth;
}

#header-section {
  width: 100%;
  background: linear-gradient(90deg, lightblue 15%, green 40%, purple 100%);
  box-shadow: 0px 1px 5px gray;
  position: fixed;
  top: 0px;
  left: 0px;
  padding: 10px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#header-section span {
  font-size: 40px;
  font-weight: bold;
  color: white;
}

#header-section img {
  width: 150px;
}

#header-section nav {
  display: flex;
  gap: 20px;
}

#header-section nav a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

#header-section nav a:hover {
  color: skyblue;
  transition: 0.25s;
}

#goto-top-button{
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #007bff;
  color: white;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0px 1px 5px gray;
}

#background {
  width: 100%;
  height: 100%;
  background-image: url("https://imgc.allpostersimages.com/img/posters/canada-s-first-subway-toronto_u-L-Q1K3S3Z0.jpg?artHeight=350&artPerspective=n&artWidth=550&background=fbfbfb");
  background-position: left;
  background-repeat: repeat;
  background-attachment: fixed;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.2;
}

.blank-div {
  height: 60px;
  width: 100%;
}

#title-section {
  width: 100%;
  font-weight: bold;
  font-size: 36px;
  background-color: #f2f2f2;
  text-align: center;
  padding: 20px 0;
  margin-top: 70px;
}

#content-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-card {
  background-color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 800px;
  margin: 20px 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-card img {
  width: 100%;
  object-fit: cover;
  border-bottom: 2px solid #f2f2f2;
}

.content-card .info {
  padding: 10px 0;
  text-align: left;
  font-size: 18px;
}

#footer-section {
  width: 100%;
  background-color: #2f2f2f;
  color: white;
  padding: 20px 0;
  text-align: center;
}